<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/itep_module.css}">
</head>
<body>
  <form th:action="@{/itep/test}" method="post" th:object="${respuestaDTO}">
    <div th:each="pregunta, preguntaId : ${preguntas}">
      <h4 th:text="${pregunta.texto}"></h4>
      <div th:each="respuesta, respuestaId : ${pregunta.respuestas}">
        <input th:name="'selector[' + ${pregunta.idPreguntas}+']'" type="radio" th:value="${respuesta.idRespuestas}" required>
        <label th:text="${respuesta.texto}"></label>
      </div>
      <input type="hidden" th:name="'preguntaIndex['+${pregunta.idPreguntas}+']'" th:value="${pregunta.idPreguntas}">
      <input type="hidden" th:name="'usuarioId'" th:value="${usuarioId}">
    </div>
    <div>
      <div>
        <input type="submit" value="Finalizar" onclick="return confirm('Estas seguro de finalizar tu evaluacion?')">
      </div>
    </div>
  </form>
  <!--       -->
</body>
</html>