<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/itep_module.css}">
  <link rel="stylesheet" th:href="@{/css/message_module.css}">
</head>
<body>

  <div th:replace="component/layout :: navbar_fragment"></div>

    <form class="formulario" th:action="@{/itep/test}" method="post" th:object="${respuestaDTO}">

      <div class="pregunta-container" th:each="pregunta, preguntaId : ${preguntas}">
        <h3 th:text="${preguntaId.index+1} + '- ' +  ${pregunta.texto}"></h3>
        <div th:each="respuesta, respuestaId : ${pregunta.respuestas}">
          <input th:name="'selector[' + ${pregunta.idPreguntas}+']'" type="radio" th:value="${respuesta.idRespuestas}" required>
          <label th:text="${respuesta.texto}"></label>
        </div>
        <input type="hidden" th:name="'preguntaIndex['+${pregunta.idPreguntas}+']'" th:value="${pregunta.idPreguntas}">
        <input type="hidden" th:name="'usuarioId'" th:value="${usuarioId}">
      </div>
      <div class="btn-container">
        <input class="btn-finalize" type="submit" value="Finalizar" onclick="return confirm('Estas seguro de finalizar tu evaluacion?')">
      </div>

    </form>

    <!--       -->
</body>
</html>