<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/message_module.css}">
</head>
<body>
    <!--Main Info Message-->
    <main  th:fragment="main_message_fragment" id="main">
        <section id="leftSide">
            <article id="leftHeader">
                <h2>Test Information</h2>
            </article>
            <h4><article id="nameUser">iTEP have five sections</article></h4>
            <h4> Reading, Listening,
                Grammar,  Writing,  and  Speaking.</h4>
            <h4>Please note that in each section, examinees
                will encounter content and questions targeted at varying levels of proficiency. </article>
            </h4>
            <article id="navegation">
                <a th:href="@{/itep/test}"><button id="nextButton">Continue</button></a>
            </article>
        </section>
    </main>

</body>
</html>