<!DOCTYPE html>
<html lang="en">
<head th:fragment="head_fragment">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/layout_module.css}">
</head>
<body>
    <!--Flash Messenger-->
    <header th:fragment="header_fragment">
        <div th:if="${error != null}">
            <div class="alert-error">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <p th:text="${error}"></p>
            </div>
        </div>
        <div th:if="${success != null}">
            <div class="alert-success">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <p th:text="${success}"></p>
            </div>
        </div>
        <div th:if="${warning != null}">
            <div class="alert-warning">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <p th:text="${warning}"></p>
            </div>
        </div>
        <div th:if="${info != null}">
            <div class="alert-info">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <p th:text="${info}"></p>
            </div>
        </div>
    </header>
    <!--Navbar-->
    <div th:fragment="navbar_fragment">
        <!-- Section-->
        <section >
            <div class="bg"></div>
            <div class="bg bg2"></div>
            <div class="bg bg3"></div>
        </section>
        <!-- Navbar-->
        <nav id="nabvar">
            <section id="leftNav">
                <img id="logo" th:src="@{https://utma.edu.mx/images/Logotipos/UTMA_2023_bco_1.png}" class="nav__logo-image">
            </section>
            <section id="rightNav">
            </section>
        </nav>
        </br>
        <header class="header1">
            <h1 id="head"></h1>
        </header>
    </div>
    <script th:src="@{/js/login_module.js}" type="text/javascript"></script>
</body>
</html>