body {
    margin: 0;
    font-family: Roboto, -apple-system, 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
}

.box-container
{
    overflow: hidden;
    width: 80%;
    max-width: 300px;
    margin: 10% 4%;
    padding: 40px 35px;
    border-radius: 5px;
    transform-origin: top;
    background-color: #fff;
    min-height: 290px;
    max-height: 290px;
}

.item-container
{
    font-size: 16px;
    padding-top:15px;
    min-height: 40px;
    max-height: 40px;
    padding-left:10px;
}

.btn-container{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.btn-finalize {
    margin-top: 20px;
    margin-bottom: 20px;
	color: #fbfdff;
	background: #a7e245;
	border-radius: 25px;
	min-width: 120px;
	border: none;
	font-size: 18px;
	line-height: 40px;
	transition: all 0.3s ease-in-out;
}

.link-finalize{
    text-decoration: none;
    color: #fbfdff;
}

.btn-finalize:hover {
    background: #87c327;
    transform: scale(1.03);
}