body {
    margin: 0;
    font-family: Roboto, -apple-system, 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
}

.container {
    overflow: hidden;
    width: 80%;
    max-width: 800px;
    margin: 10% auto;
    padding: 40px 35px;
    border-radius: 5px;
    transform-origin: top;
    background-color: #fff;
    font-size: 16px;
    min-height: 370px;
    max-height: 370px;
}

.info-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; /* Agrega espacio entre las columnas */
    margin-bottom: 30px;
}

.pregunta-container{
    margin: 10px 0;
    min-height: 30px;
    line-height: 20px;
}

.respuesta-incorrecta {
  font-weight: bold;
  background-color: #DCA8A8;
  line-height: 25px;
  border-radius: 3px;
  padding-inline: 20px;
}

.respuesta-correcta {
   font-weight: bold;
   background-color: #AFE9BA;
   line-height: 25px;
   border-radius: 3px;
   padding-inline: 20px;
 }


/*Paginator*/

.paginator-container{
    display:flex;
    justify-content: center;
    align-items: center;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.page-item {
    margin: 0 2px;

}

.page-link {
    display: block;
    padding: 0.5rem 0.75rem;
    margin-bottom: 0;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #dee2e6;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.page-link:hover {
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.restart-link{
    text-decoration: none;
    font-size: 18px;
    color: #007bff;
}

.restart-link:hover{
    color: #0056b3;
    text-decoration: none;
}

a.restart-link{
    margin-inline: 10px;
}