<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/login_module.css}"/>
    <title th:text="'Login'"></title>
</head>
<body>
    <section class="forms-section">
        <h1 class="section-title">ENGLISH TEST</h1>
        <div class="forms">
            <div class="form-wrapper is-active">
                <button type="button" class="switcher switcher-login">
                    Login
                    <span class="underline"></span>
                </button>
                <form class="form form-login" th:action="@{/usuario/login}" method="post">
                    <fieldset>
                        <legend>Please, enter your matricula and password for login.</legend>
                        <div class="input-block">
                            <label for="login-matricula">Matricula</label>
                            <input name="matricula" id="login-matricula" type="text" required>
                        </div>
                        <div class="input-block">
                            <label for="login-password">Password</label>
                            <input name="password" id="login-password" type="password" required>
                        </div>
                    </fieldset>
                    <button type="submit" class="btn-login">Login</button>
                </form>
            </div>
            <div class="form-wrapper">
                <button type="button" class="switcher switcher-signup">
                    Sign Up
                    <span class="underline"></span>
                </button>
                <form class="form form-signup" th:action="@{/usuario/registro}" method="post" th:object="${usuario}">
                    <fieldset>
                        <legend>Please, enter your email, password and matricula for sign up.</legend>
                        <div class="input-block">
                            <label for="signup-email">E-mail</label>
                            <input th:field="*{email}" id="signup-email" type="email" required>
                        </div>
                        <div class="input-block">
                            <label for="signup-password">Password</label>
                            <input th:field="*{contraseña}" id="signup-password" type="password" required>
                        </div>
                        <div class="input-block">
                            <label for="signup-matricula">Matricula</label>
                            <input th:field="*{matricula}" id="signup-matricula" type="text" required>
                        </div>
                    </fieldset>
                    <button type="submit" class="btn-signup">Continue</button>
                </form>
            </div>
        </div>
    </section>
    </body>
    <script type="text/javascript" th:src="@{/js/login_module.js}"></script>
</html>