<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" th:href="@{/css/message_module.css}">
    <link rel="stylesheet" th:href="@{/css/menu_module.css}">
</head>
<body>
    <div th:replace="component/layout :: navbar_fragment"></div>
    <div class="container">
        <div class="box-container">
            <div>
                <h3>Results Review</h3>
                <hr>
                <div class="item-container" th:text="'Your ID: ' + ${usuario.matricula} + '.'"></div>
                <div class="item-container" th:text="'Last Score: ' + ${usuario.ultimaPuntuacion}"></div>
                <div class="item-container" th:text="'Last Applicacion Date: ' + ${usuario.ultimaAplicacion}"></div>
                <div class="btn-container">
                    <button class="btn-finalize"><a class="link-finalize" th:href="@{/itep/resultados}">Go To</a></button>
                </div>
            </div>
        </div>
        <div class="box-container">
            <h3>Test</h3>
            <hr>
            <div class="item-container" th:text="'Considere antes de iniciar el test:'"></div>
            <div class="item-container" th:text="'El test consta de 5 secciones.'"></div>
            <div class="item-container" th:text="'No podra detener la prueba.'"></div>
            <div class="btn-container">
                <button class="btn-finalize"><a class="link-finalize" th:href="@{/itep/info}">Start Test</a></button>
            </div>
        </div>
    </div>
</body>
</html>