<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/message_module.css}">
</head>
<body>
    <div th:replace="component/layout :: navbar_fragment"></div>
    <!--
    <main th:fragment="grammar_message_fragment" id="main">
        <section id="rightSide">
            <article id="rightHeader">
                <h2>Instructions</h2>
            </article>
            <article class="questionBox">
                <h1 class="question">In the Grammar section, there are two questions types:</h1>
                <h1 class="question">In questions 1-10, you must click on the circle nest to the word or phrase that correctly completes the sentence.</h1>
                <h1 class="question">In questions 11-20, you must click on the circle nest to the incorrect word or phrase in the sentence.</h1>
                </h1>
            </article>

            <article id="navegation">
                <a th:href="@{/itep/test}"><button id="nextButton">Continue</button></a>
            </article>

        </section>
    </main>
    -->

    <div class="container-info-box">
        <div class="titulo">
            <h3 class="tres">Grammar Instruction</h3><hr>
        </div>
        <div class="container-info">
            <div>
                <div class="container-info-item"> - In this section, there are two questions types:</div>
                <div class="container-info-item"> - In questions 1-10, you must click on the circle nest to the word or phrase that correctly completes the sentence.</div>
                <div class="container-info-item"> - In questions 11-20, you must click on the circle nest to the incorrect word or phrase in the sentence.</div>
            </div>
        </div>
        <div class="btn-container">
            <button class="btn-finalize"><a class="link-finalize" th:href="@{/itep/test}">Start Test</a></button>
        </div>
    </div>
</body>
</html>