<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/message_module.css}">
</head>
<body>
    <div th:replace="component/layout :: navbar_fragment"></div>
    <div class="container-info-box">
        <div class="titulo">
            <h3 class="tres">Test Information</h3><hr>
        </div>
        <div class="container-info">
            <div>
                <div class="container-info-item"> - iTEP have five sections.</div>
                <div class="container-info-item"> - Grammar, Reading, Listening, Writing,  and  Speaking.</div>
                <div class="container-info-item"> - Please note that in each section, examinees will encounter content and questions targeted at varying levels of proficiency.</div>
            </div>
        </div>
        <div class="btn-container">
            <button class="btn-finalize"><a class="link-finalize" th:href="@{/itep/grammar_info}">Continue</a></button>
        </div>
    </div>
</body>
</html>